@import "reset";
@import 'mixins';
@import 'vars';

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @media only screen and (max-width: 767px){
        padding: 19px 0;
    }

    &__container{
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::before{
            content: "";
            width: calc(100% - 30px);
            height: 1px;
            background-color: $lineColor;
            position: absolute;
            left: 15px;
            bottom: 0;
            @media only screen and (max-width: 767px){
                display: none;
            }
        }

    }

    &__logo-wrapper{
        display: flex;
        @media only screen and (max-width: 767px){
            width: 103px;
            height: 15px;
        }
    }

    &__logo{
        width: 100%;
        height: 100%;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        column-gap: 5px; 
        @media only screen and (max-width: 767px){
            display: none;
        }
    }

    &__link{
        color: $mainText;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        display: block;
        min-width: 129px;
        padding: 36px 0;
        @media only screen and (max-width:1024px){
            font-size: 12px;
            min-width: 103px;
        }
        &:hover{
            color: $linkHoverBlue;
            &::after{
                content: "";
                width: 100%;
                height: 4px;
                display: block;
                background-color: $lineColor;
                position: absolute;
                left: 0;
                bottom: 0;
                @media only screen and (max-width: 767px){
                    display: none;
                }
            }
        }
        &:active{
            color: $linkActiveBlue;
        }
    }

    &__hamburger-wrapper{
        display: flex;
        margin-right: 15px;
        @media only screen and (min-width: 768px){
            display: none;
        }

        .hamburger{
            width: 100%;
            height: 100%;
        }
    }
}

.banner{
    padding: 232px 0 120px;
    margin-bottom: 116px;
    background-image: url(/src/assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 1024px){
        padding: 257px 0 126px;
        margin-bottom: 78px;
    }
    @media only screen and (max-width: 767px){
        padding: 106px 0 52px;
        margin-bottom: 40px;
    }

    &__container{
        @include container();
    }

    &__title{
        @include font($mainText, center, 64px, 900, 75px);
        @include font-main;
        text-transform: uppercase;
        margin-bottom: 32px;
        @media only screen and (max-width: 1024px){
            font-size: 48px;
            margin-bottom: 62px;
            line-height: 56px;
        }
        @media only screen and (max-width: 767px){
            font-size: 36px;
            margin-bottom: 32px;
            line-height: 42px;
        }
    }

    &__text{
            @include font($mainText, center, 24px, 400, 28px);
            @include font-main;
            max-width: 999px;
            margin: 0 auto 82px;
            @media only screen and (max-width: 1024px){
                font-size: 18px;
                margin-bottom: 89px;
                line-height: 21px;
                max-width: 749px;
            }
            @media only screen and (max-width: 767px){
                font-size: 14px;
                margin: 0 auto 51px;
                line-height: 16px;
            }
        }                
.btn{
        @include button;
    }
}

.description{
    margin-bottom: 116px;
    @media only screen and (max-width: 1024px){
        margin-bottom: 80px;
    @media only screen and (max-width: 767px){
        margin-bottom: 35px;
        }
    }

    &__container{
        @include container;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 88px 30px;
        @media only screen and (max-width: 1024px){
            gap: 50px 20px;
        }
        @media only screen and (max-width: 767px){
            grid-template-columns: 100%;
            row-gap: 41px;
        }
    }

    &__icon-wrapper{
        width: 100px;
        height: 100px;
        margin: 0 auto 51px;
        @media only screen and (max-width: 1024px){
            width: 85px;
            height: 85px;
            margin-bottom: 44px;
        }
        @media only screen and (max-width: 767px){
            width: 75px;
            height: 75px;
            margin-bottom: 37px;
        }
    }

    &__icon{
        width: 100%;
        height: 100%;
    }

    &__title{
        @include font($titleColorBlackGrey, center, 24px, 900, 28px);
        @include font-main;
        text-transform: uppercase;
        margin-bottom: 42px;
        @media only screen and (max-width: 1024px){
            @include font($titleColorBlackGrey, center, 18px, 900, 21px);
            margin-bottom: 23px;
        }
        @media only screen and (max-width: 767px){
            margin-bottom: 8px;
        }
    }

    &__text{
        @include font($textColorBlackGrey, center, 18px, 400, 21px);
        @include font-main;
        @media only screen and (max-width: 1024px){
            @include font($titleColorBlackGrey, center, 14px, 400, 16px);
        }
    }
}
