$buttonColorMain: #FF4343;
$buttonActive: #FF4343;
$buttonHover: #E71414;
$mainText: #fff; 
$lineColor: #BABBC5;
$linkHoverBlue: #6aa1c3;
$linkActiveBlue: #2d5282;
$titleColorBlackGrey: #2D3033;
$textColorBlackGrey: #6C7279;
$linkActiveRed: #E71414;
$blackText: #000;
$backgroundColor: #353C65;
$footerBgColor: #2C3154;
$footerText: #808080;